@model dotnet_webgrid.Models.User
@{ ViewData["Title"] = "Home Page"; }

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
@*<link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />*@




<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <input type="hidden" asp-for="ID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        @*<div class="row" style="padding-left:5.3rem; padding-top:0.0rem; background-color:burlywood">
            <form asp-action="DeleteUser">
                <input type="hidden" asp-for="ID" />
                <input type="submit" value="Delete" class="btn btn-danger" /> 
            </form>
         </div>*@
    </div>

    

</div>

<br>

<div class="text-center">

    <table id="userTable" class="display" style="width:100%">
        <thead>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>*@
<script src="https://cdn.jsdelivr.net/npm/pretty-print-json@1.1.0/dist/pretty-print-json.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">

    function editUser(element) {
        $("input[name='ID']").val(element.dataset.id);
        $("input[name='FirstName']").val(element.dataset.firstname);
        $("input[name='LastName']").val(element.dataset.lastname);
        $("input[name='MiddleName']").val(element.dataset.middlename);
        $("input[name='Contact']").val(element.dataset.contact);

    }

    function deleteUser(element) {
        $("input[name='ID']").val(element.dataset.id);
        $("input[name='FirstName']").val(element.dataset.firstname);
        $("input[name='LastName']").val(element.dataset.lastname);
        $("input[name='MiddleName']").val(element.dataset.middlename);
        $("input[name='Contact']").val(element.dataset.contact);






        @*if (confirm('Want to delete data?'))
        {
            $.ajax({

                type: "POST",
                url: '@Url.Action("DeleteUser","Home")/' + id,
                success: function (data) {

                    if (data.success) {
                        return @Url.Action("Index","Home")
                    }
                }
            })
        }*@

    }

    
    function DeleteRow(id) {
        
            if (confirm("Are You sure to delete this record..?")) {
                $.ajax({

                    type: 'POST',
                    //url: "/Products/delete/" + id,
                    url: '@Url.Action("deleteuser", "home")/' + id ,
                    datatype: 'JSON',
                    //data: JSON.stringify({ id: id }),
                    success: function (response) {
                        if (response == "success") {

                            alert("Data Deleted successfully..")
                           // window.location.reload();
                            //$("#myModal").modal('hide');
                        };
                    },
                    error: function (msg) {
                        alert(msg.responseText)
                    },

                });
            }
    }
    
    $(document).ready(function () {

        var table = $('#userTable').DataTable({
            "processing": true,
            /* "serverSide": true,*/
            "filter": true,
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                'url': '@Url.Action("getAllUsers", "Home")',
                "type": "GET",
                "datatype": "json"

            },

            "columns": [
                { "sTitle": "ID", "data": "id" },
                { "sTitle": "First Name", "data": "firstName" },
                { "sTitle": "Last Name", "data": "lastName" },
                { "sTitle": "Middle Name", "data": "middleName" },
                { "sTitle": "Contact", "data": "contact" },
                {
                    "sTitle": "Action",
                    "render": function (data, type, row, meta) {
                        console.log(row);

                        if (row) {

                            return `<button class="btn btn-primary"

                                                    data-firstName="${row.firstName}"
                                                    data-lastName="${row.lastName}"
                                                    data-middleName="${row.middleName}"
                                                    data-contact="${row.contact}"
                                                    data-id="${row.id}"
                                                    onclick="editUser(this)">Edit</button>  <a class=" btn btn-danger"

                                                    data-firstName="${row.firstName}"
                                                    data-lastName="${row.lastName}"
                                                    data-middleName="${row.middleName}"
                                                    data-contact="${row.contact}"
                                                    data-id="${row.id}"
                                                    onclick="DeleteRow()">Delete</a>`

                        }

                        return '';

                    },

                },
                  @*{'@Url.Action("deleteuser","home")/"${data}"'
                      "sTitle": "ActionDelete", "data": "id",
                      "render": function (data, type, row, meta) {

                          `<button class='btn btn-danger' onclick=deletthis('@Url.Action("DeleteUser","Home")/+data+")'>Delete</button>`
                      }

                  }*@

            ]




        });

        //$('tbody').on('click', 'tr', function () {
        //    if ($(this).hasClass('selected')) {
        //        $(this).removeClass('selected');
        //    }
        //    else {
        //        table.$('tr.selected').removeClass('selected');
        //        $(this).addClass('selected');

        //    }
        //});
        //$('.btn-danger').on('click', function () {
        //    table.row('.selected').remove().draw();
        //    if (confirm("Want to delete records?")) {

        //    }
        //});







        //var table = $('#userTable').DataTable();

        //        $('#example tbody').on('click', 'userdelete', function () {
        //    table
        //        .row($(this).parents('tr'))
        //        .remove()
        //        .draw();
    });

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}